<div class='teams'>
  <center><%= link_to 'Criar Time', new_team_path, class: 'btn btn-primary btn-success btn-lg margin-top-50' %></center>
  <center><h1 class='teams-index-title'>Times</h1></center>
  <div class='row margin-top-50 index'>
    <% @teams.each do |f| %>
      <div class='col-lg-6'>
        <div class='row margin-top-50'>
          <div class='col-lg-4'>
            <div class='show-team-block'>
              <% if f.picture? %>
                <%= image_tag f.picture.url, size: 40 %>
              <% else %>
                <%= image_tag f.gravatar_url, size: 40 %>
              <% end %>
            </div>
          </div>
          <div class='col-lg-8'>
            <h2><%= link_to "#{f.name}", f %></h2>
            <h4><%= f.description %></h4>
            <h3>Owner: <%= link_to "#{f.user.name}", f.user %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <center><%= will_paginate %></center>
</div>