<% if current_user == @team.user %>
  <h1>Convidar Pessoas</h1>
  <%= form_tag("/teams/#{@team.id}/invite", method: "get") do %>
    <%= text_field_tag :keyword, params[:keyword], class: "search-text-field", placeholder: "nome do usuário" %>
    <%= submit_tag "Buscar", :name => "Busca", class: "search-button" %>
  <% end %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <td>Nome</td>
      <td>E-mail</td>
      <td>Ação</td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= link_to "#{u.name}", u %></td>
        <td><%= link_to "#{u.email}", u %></td>
        <td><%= link_to " ", invite_member_path(user_id: u.id, id: @team.id), class: "btn btn-info glyphicon glyphicon-ok" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

