<div class='new-team-page'>
  <%= form_for(@team, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :description, 'Descrição' %>
    <%= f.text_field :description, class: 'form-control' %>

    <%= f.label :email, 'Email' %>
    <%= f.text_field :email, class: 'form-control' %>

    <%= f.label :public_to_members, 'Público?' %>
    <%= f.radio_button :public_to_members, true, checked: @team.public_to_members, data: { question: 'Publico para todos?' } %>
    <%= f.label :public_to_members, 'Sim' %>
    <%= f.radio_button :public_to_members, false, checked: @team.public_to_members, data: { question: 'Publico para todos?' } %>
    <%= f.label :public_to_members, 'Não' %>

    <br>  
    <%= f.label :methodology, 'Qual a metodologia do time?' %>
    <%= f.radio_button :methodology, 'SAFe', checked: @team.methodology, data: { question: 'SAFe' } %>
    <%= f.label :methodology, 'SAFe' %>
    <%= f.radio_button :methodology, 'SCRUM', checked: @team.methodology, data: { question: ' Qual a metodologia do time?' } %>
    <%= f.label :methodology, 'SCRUM' %>

    <div class='picture'>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </div>

    <%= f.submit 'Criar Time', class: 'btn btn-primary btn-success btn-lg' %>
  <% end %>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
