<div class='teams-show-page'>
  <div class='row'>
    <%= render 'shared/team', t: @team %>
  </div>

  <% if current_user == @team.user %>
    <h3>Convidar Pessoas</h3>
    <%= form_tag("/teams/#{@team.id}/invite", method: "get") do %>
      <%= text_field_tag :keyword, params[:keyword], class: "search-text-field", placeholder: "nome do usuário" %>
      <%= submit_tag "Buscar", :name => "Busca", class: "search-button" %>
    <% end %>
  <% end %>

  <h1>Owner</h1>
  <div class='row'>
    <%= render 'shared/user', t: @team.user %>
  </div>

  <h1>Membros (<%= @members.count %>)</h1>
  <% @members.each do |m| %>
    <div class='row'>
      <%= render 'shared/user', t: m %>
    </div>
  <% end %>
</div>
