<div class='teams-show-page'>
  <div class="row">
    <div class="col-md-10">
      <div id="current-show">
        <div class='row'>
          <%= render 'shared/team', t: @team %>
        </div>

        <% if current_user == @team.user %>
          <center><%= link_to 'Editar informações do time', edit_team_path(id: @team.id), class: 'btn btn-lg btn-info' %></center>
          <br><br><br><br><br>
          <h3>Convidar Pessoas</h3>
          <%= form_tag("/teams/#{@team.id}/invite", method: "get") do %>
            <%= text_field_tag :keyword, params[:keyword], class: "search-text-field", placeholder: "nome do usuário" %>
            <%= submit_tag "Buscar", :name => "Busca", class: "search-button" %>
          <% end %>
        <% end %>

        <br><br><br><br><br>
        <h1>Owner</h1>
        <div class='row'>
          <%= render 'shared/user', t: @team.user %>
        </div>

        <br><br>
        <h1>Membros (<%= @members.count %>)</h1>
        <% @members.each do |m| %>
          <div class='row'>
            <%= render 'shared/user', t: m %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-2">
      <%= link_to "", @team, class: "fa fa-user requirements", id: @team.id %>
      <%= link_to "", '/teams/'+@team.id.to_s+'/team_requirements/', class: "fa fa-align-justify requirements", id: @team.id, remote: true %>
      
    </div>
</div>
