<div class='teams-show-header'>
  <div id="current-show">
    <nav class="navbar navbar-default">
      <ul class='nav navbar-nav'>
        <% if controller.action_name == "show" %>
          <li><%= link_to "Home", @team, class: "team-sidebar show-link-selected", id: @team.id %></li>
        <% else %>
          <li><%= link_to "Home", @team, class: "team-sidebar show-link", id: @team.id %></li>
        <% end %>

        <% if controller.action_name == "team_requirements" %>
          <li><%= link_to "Requisitos", '/teams/'+@team.id.to_s+'/team_requirements/', class: "team-sidebar requirements-link-selected", id: @team.id, remote: true %></li>
        <% else %>
          <li><%= link_to "Requisitos", '/teams/'+@team.id.to_s+'/team_requirements/', class: "team-sidebar requirements-link", id: @team.id, remote: true %></li>
        <% end %>

        <% if controller.action_name == "team_requirements" %>
          <li><%= link_to "Wiki", '/teams/'+@team.id.to_s+'/wiki', class: "team-sidebar wiki-link-selected", id: @team.id, remote: true %></li>
        <% else %>
          <li><%= link_to "Wiki", '/teams/'+@team.id.to_s+'/wiki', class: "team-sidebar wiki-link", id: @team.id, remote: true %></li>
        <% end %>

        <% if @team.user == current_user %>
          <li><%= link_to 'Editar', edit_team_path(id: @team.id), class: "team-sidebar edit-link" %></li>
          <li><%= link_to 'Convidar Pessoas', "/teams/#{@team.id}/invite", class: "team-sidebar invite-link" %></li>
        <% end %>
      </ul>
    </nav>

    <div class='teams-show-page'>
      <div class="row">
        <div class="col-md-12">
          <div class='row'>
            <%= render 'shared/team_index', t: @team %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
