<% unless @invites.empty? %>
  <center><h1>Convites Pendentes</h1></center>
  <table class="table table-hover index-table-pending">
    <thead>
      <tr>
        <td>Time</td>
        <td>Dono</td>
        <td>Descrição</td>
        <td>Aceitar</td>
        <td>Recusar</td>
      </tr>
    </thead>

    <tbody>
      <% @invites.each do |i| %>
        <tr>
          <td><%= link_to "#{i.team.name}", i.team %></td>
          <td><%= link_to "#{i.team.user.name}", i.team.user %></td>
          <td><%= i.team.description %></td>
          <td><%= link_to '', accept_invite_path(id: current_user.id, invite_id: i.id), class: "btn btn-success glyphicon glyphicon-ok" %></td>
          <td><%= link_to '', refuse_invite_path(id: current_user.id, invite_id: i.id), class: "btn btn-danger glyphicon glyphicon-remove" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>