<script src="dist/sweetalert.js"></script>
<link rel="stylesheet" type="text/css" href="dist/sweetalert.css">

<div class='sessions-new'>
  <div class='row'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class='col-md-3'>
    </div>
    
    <div class='col-md-6'>
      <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email, 'E-mail' %>
        <%= f.text_field :email, class: 'form-control' %>

        <%= f.label :password, 'Senha' %>
        <%= f.password_field :password, class: 'form-control' %>

        <center><%= f.submit class: 'btn btn-primary' %></center>
      <% end %>
    </div>

    <div class='col-md-3'>
    </div>

  </div>
</div>