<div class='users-edit-page'>
  <h1>Alterando Informações</h1>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email, 'Email' %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :public_email, 'Mostrar email para outros membros?' %>
    <%= f.radio_button :public_email, true, checked: @user.public_email, data: { question: 'Mostrar email para outros membros?' } %>
    <%= f.label :public_email, 'Sim' %>
    <%= f.radio_button :public_email, false, checked: @user.public_email, data: { question: 'Mostrar email para outros membros?' } %>
    <%= f.label :public_email, 'Não' %><br>

    <%= f.label :password, 'Senha' %>
    <%= f.password_field :password, class: 'form-control' %>

    <span class='picture'>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'btn btn-primary' %>
    </span>

    <center><%= f.submit 'Alterar Informações', class: "btn btn-primary btn-lg" %></center>
  <% end %>
</div>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>