<div class='users-show-page'>

  <% if current_user && current_user == @user %>
    <center><%= link_to 'Editar Profile', edit_user_path(id: @user.id), class: 'btn btn-lg btn-info' %></center>
  <% end %>

  <div class='row'>
    <div class='col-md-2'>
      <%= gravatar_tag @user.email, size: 150 %>
    </div>

    <div class='col-md-10'>
      <h1><%= @user.name %></h1>
      <h2><%= @user.email %></h2>
    </div>
  </div>

  <h1>Times deste usuário:</h1>
  <% @teams.each do |t| %>
    <div class='row'>
      <div class='col-md-3'>
        <%= gravatar_tag t.user.email, size: 100 %>
      </div>

      <div class='col-md-9'>
        <h1><%= link_to t.name, t %></h1>
        <h2><%= t.description %></h2>
      </div>

    </div>
  <% end %>



</div>