<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/", id="teste">SIOHA</a>
  </div>

  <ul class="nav navbar-nav">
    <li><%= link_to 'Times', teams_path %></li>
    <% if signed_in? %>
      <li><%= link_to "#{current_user.name}", current_user %></li>
      <li><%= link_to 'Deslogar', signout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Registrar', signup_path %></li>
      <li><%= link_to 'Logar', signin_path %></li>
    <% end %>
  </ul>
</nav>
